[requires]
python_full_version = "2.7.12"

[packages]
gunicorn = "*"

sn1crypto==0.24.0
bcrypt==3.1.4
certifi==2018.4.16
cffi==1.11.5
cryptography==2.3
Django==1.11.15
django-widget-tweaks==1.4.2
enum34==1.1.6
Fabric==1.10.2
idna==2.7
ipaddress==1.0.22
paramiko==2.4.1
pipenv==2018.7.1
pkg-resources==0.0.0
psycopg2==2.7.4
pyasn1==0.4.3
pycparser==2.18
PyNaCl==1.2.1
pytz==2018.5
six==1.11.0
virtualenv==16.0.0
virtualenv-clone==0.3.0
whitenoise==3.3.1

