<!-- <link rel="stylesheet" type="text/css" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
-->
<!--<div id="footer">
 <style>.heart{color:#e25555;}</style>
Made with <span class="heart">❤</span> in Switzerland
<style>.heart{color:#e25555;}</style>
Made with <span class="heart">❤</span> in Switzerland
Coded with <span class="heart">❤</span> Chriz
<a href="http://coryandro.com">coryandro.com</a> Chriz </div>
<p class="love">Made with <i class="icon ion-heart"></i> by Brian Gardner</p>
-->
<div class="container" id="footerSpace">
    <div class="row">
<div id="footer" class="text-center text-muted invisible">
<!--<a href="http://coryandro.com">coryandro.com</a> -->
Coded with <strong>PASSION</strong> by ProtoStartup
<!--<style>.heart{color:#e25555;}</style>
<span class="heart">❤</span> by <a href="https://www.facebook.com/christopher.kiran.35">Chriz</a> --></div>

</div>
</div>