<!doctype html>
<html lang="en">
<head>
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Social Vibe </title>

	{% load staticfiles %}
    <!-- Styles -->
    <!-- /home/chris/djSocialVibe/bigday/static/assets/css/background.scss
	<link rel='stylesheet' href="{% static 'assets/css/bootstrap.min.css' %}">
	<link rel='stylesheet' href="{% static 'assets/css/animate.min.css'%}">
	<link rel='stylesheet' href="{% static 'assets/css/font-awesome.min.css' %}"> -->
	<link rel='stylesheet' href="{% static 'assets/css/background.scss'%}">

	<link href='http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->

	<!-- Favicon -->
	<link rel="shortcut icon" href="#">
</head>
<body>
<!-- Begin Hero Bg -->
<div class="bg-img"></div>
iframe style="width: 100%; height: 100%; max-width: 100%;" src="https://docs.google.com/forms/d/e/1FAIpQLSeFbba7hwTCDhmViX0_EABu7ipLwMOvBSnjPLNeuf6qRsgugg/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0"></iframe>
			   

		</body></html>
