<!-- <!DOCTYPE html>
<html>

<head>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/form.css'%}">
	<title> Social Vibe </title>
</head>

<body>


	<iframe style="width: 100%; height: 100%; max-width: 100%;" src="https://docs.google.com/forms/d/e/1FAIpQLSeFbba7hwTCDhmViX0_EABu7ipLwMOvBSnjPLNeuf6qRsgugg/viewform?embedded=true"
	 frameborder="0" marginheight="0" marginwidth="0"></iframe>


</body>

</html> -->



<!-- 
<form class="form">

	<h1>Volunteer</h1>
	<a href="home.html" style="float:right;text-decoration:none">Back to Social Vibe</a>
		<fieldset class="one">
			<legend>Account Details
			</legend>
			<p>
					<label>Email*:</label>
					<input type="email" name="Email" class="email" maxlength="25" required>
	
					<label>Repeat email*:</label>
					<input type="email" name="Repeat email" maxlength="25" required>
			</p>
			<p>
					<label>Password*:</label>
					<input type="password" name="Password" maxlength="15" required>
	
					<label>Repeat password*:</label>
					<input type="password" name="repeat password" maxlength="15" required>
					<label class="of">*obligatory fields</label>
			</p>
	
		</fieldset>
		<fieldset class="two">
				<legend>Personal Details</legend>
				<p>
					<label>Name*:</label>
					<input type="text" name="name" required>
				</p>
				<p>	
					<label>Phone*:</label>
					<input type:number name="phone" required>
				</p>
				<p>			
					<label>Street:</label>
					<input type="text" name="street">
				</p>
				<p>	
					<label>City*:</label>
					<input type="text" name="city" required>
				</p>
				<p>			
					<label>Country*:</label>
					<select name="country" required>
					<option value="india">India</option>
					<option value="nigeria">Nigeria</option>
					<option value="usa">USA</option>
					</select>
				</p>
				<p>
					<label>Website:</label>
					<input type="url" name="website">
				</p>
		</fieldset>
		<fieldset class="three">
					<legend>Futher Information</legend>
				<p>		
					<label>Gender*:</label>
					<input type="radio" name="gender" value="male"> <label class="gender">Male</label>
					<input type="radio" name="gender" value="female"><label class="gender">Female</label>
				</p>
				<p>
					<label>Birthdate*:</label>
					<input type="date" name="birthdate">
				</p>
				<p>					
					<label>	Nationality*:</label>
					<select name="nationality" required>
					<option value="indian">Indian</option>
					<option value="nigerian">Nigeraian</option>
					<option value="ameriacan">American</option>
				</p>
				<p>
					<input type="checkbox" name="children">
					Children*
				</p><br>
				<div class="info"><h3>Helpful Information</h3>
					<p>Here comes some explaining text, sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
					</p>
				</div>
		</fieldset>
		<fieldset class="four">
					<legend>Terms And Mailing</legend>
				<p>
					<input type="checkbox" name="info">* I Accept The Termas And Conditions
				</p>
				<p>
					<input type="checkbox" name="info">I want to recieve personal offers from your site
				</p>
				<p>
					<input type="checkbox" name="info">Allow parterns to send me personalized offers and related services
				</p>
		</fieldset>
				<input type="button" name"register" value="register">
	
	
	
	
	</form> -->


<!-- 
<!doctype html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Social Vibe </title>

	{% load staticfiles %}
	<link rel='stylesheet' href="{% static 'assets/css/background.css'%}">

	<link href='http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>

	<link rel="shortcut icon" href="#">
</head>

<body>

	<div class="bg-img"></div>	
	<iframe style="width: 100%; height: 100%; max-width: 100%;"
	src="https://docs.google.com/forms/d/e/1FAIpQLSeFbba7hwTCDhmViX0_EABu7ipLwMOvBSnjPLNeuf6qRsgugg/viewform?embedded=true"
	frameborder="0" marginheight="0" marginwidth="0"></iframe>


</body>
</html> -->

<!-- 
<!doctype html>
<html lang="en">

<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Social Vibe </title>

	{% load staticfiles %}

	<link rel='stylesheet' href="{% static 'assets/css/background.css'%}">

	<link href='http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>


	<link rel="shortcut icon" href="#">
</head>

<body>


	 <img src="http://southwestarkansasradio.com/images/onair995.jpg"></a><br>
<img src="http://southwestarkansasradio.com/images/playerbackground.jpg" style="z-index:  -1"/>
<div style="position:relative;left:0px;top:0px;font-size: 32px">
<iframe width="100%" height="100%" src="http://southwestarkansasradio.com/NowPlaying.html" border="0" frameborder="0" allowTransparency="true" >
      Your browser does not support inline frames.</iframe>
</div>

</body>
</html> -->

<!-- 
<!doctype html>
<html lang="en">

<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Social Vibe </title>

	{% load staticfiles %}

	<link rel='stylesheet' href="{% static 'assets/css/background.css'%}">

	<link href='http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>


	<link rel="shortcut icon" href="#">
</head>

<body>


<div class="container">
		<div class="row">
		  <div class="col-sm-12">
			<div class="laptop-wrapper">
			  <iframe width="560" height="315" src="//www.youtube.com/embed/f890SC1schE" frameborder="0" allowfullscreen></iframe>
			</div>
		  </div>
		</div>
	  </div>
	  
	  <div class="container">
		<div class="row">
		  <div class="col-sm-12">
			<div class="desktop-wrapper">
			  <iframe width="560" height="315" src="//www.youtube.com/embed/f890SC1schE" frameborder="0" allowfullscreen></iframe>
			</div>
		  </div>
		</div>
	  </div>
	  
	  
	  <div class="container">
		<div class="row">
		  <div class="col-sm-12" style="background-image: url(' http://img01.deviantart.net/05b6/i/2011/030/8/5/apple_led_cinema_screen_by_fisshy94-d38e3o5.png'); background-repeat:no-repeat; width:900px; height:758px; padding:80px;text-align:center;">
			
		
		  </div>
		</div>
	  </div>
	  
	  <div class="container">
		<div class="row">
		  <div class="col-sm-12">
			
			  <div class="header-unit">
				<div id="video-container">
				  <video autoplay loop class="fillWidth">
					<source src="http://yourwebsite.com/your-video-file.mp4" type="video/mp4"/>
					<source src="http://yourwebsite.com/your-video-file.ogg" type="video/ogg"/>
					<source src="http://yourwebsite.com/your-video-file.webm" type="video/webm"/>
					Your browser does not support the video tag. I suggest you upgrade your browser.
				  </video>
				</div>
			  </div>
	  
		  </div>
		</div>
	  </div>
	
	  
	  
</body>
</html> -->




<!doctype html>
<html lang="en">

<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Social Vibe </title>

	{% load staticfiles %}
	<link rel='stylesheet' href="{% static 'assets/css/bootstrap.min.css' %}">
	<link rel='stylesheet' href="{% static 'assets/css/animate.min.css'%}">
	<link rel='stylesheet' href="{% static 'assets/css/font-awesome.min.css' %}">
	<link rel='stylesheet' href="{% static 'assets/css/background.css'%}">

	<link href='http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>


	<link rel="shortcut icon" href="#">
</head>

<body>

<!-- Begin Hero Bg -->
<div id="parallax">
	</div>
	<!-- End Hero Bg
		================================================== -->
	<!-- Start Header
		================================================== -->
	<header id="header" class="navbar navbar-inverse navbar-fixed-top" role="banner">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<!-- Your Logo -->
			<a href="#hero" class="navbar-brand"><span class="lighter"></span></a>
			<a href="#hero" class="navbar-brand">SOCIAL VIBE <span class="lighter"></span></a>
		</div>
		<!-- Start Navigation -->
		<nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
		<ul class="nav navbar-nav">
			<li>
			<a href="#hero">Home</a>
			</li>
			<li>
			<a href="#about">About</a>
			</li>
			<li>
			<a href="#gallery">Events</a>
			</li>
			<li>
			<a href="volunteer.html">Volunteer</a>
			</li>
			<li>
			<a href="donate.html">Donate</a>
			</li>
			<li>
			<a href="#contactarea">Contact</a>
			</li>
		</ul>
		</nav>
	</div>
	</header>

<div class="container">
		<div class="row">
		  <div class="col-sm-12">
			<div class="laptop-wrapper">
			  <iframe width="560" height="315" src="https://docs.google.com/forms/d/e/1FAIpQLSeFbba7hwTCDhmViX0_EABu7ipLwMOvBSnjPLNeuf6qRsgugg/viewform?embedded=true" frameborder="0" allowfullscreen></iframe>
			</div>
		  </div>
		</div>
	  </div>
<!-- 	  
	  <div class="container">
		<div class="row">
		  <div class="col-sm-12">
			<div class="desktop-wrapper">
			  <iframe width="560" height="315" src="//www.youtube.com/embed/f890SC1schE" frameborder="0" allowfullscreen></iframe>
			</div>
		  </div>
		</div>
	  </div> -->
	  
	  
	  <!-- <div class="container">
		<div class="row">
		  <div class="col-sm-12" style="background-image: url(' http://img01.deviantart.net/05b6/i/2011/030/8/5/apple_led_cinema_screen_by_fisshy94-d38e3o5.png'); background-repeat:no-repeat; width:900px; height:758px; padding:80px;text-align:center;">
			
			
		  </div>
		</div>
	  </div>
	   -->
	  <!-- <div class="container">
		<div class="row">
		  <div class="col-sm-12">
			
			  <div class="header-unit">
				<div id="video-container">
				  <video autoplay loop class="fillWidth">
					<source src="http://yourwebsite.com/your-video-file.mp4" type="video/mp4"/>
					<source src="http://yourwebsite.com/your-video-file.ogg" type="video/ogg"/>
					<source src="http://yourwebsite.com/your-video-file.webm" type="video/webm"/>
					Your browser does not support the video tag. I suggest you upgrade your browser.
				  </video>
				</div>
			  </div>
		  </div>
		</div>
	  </div>
	
	   -->
	  
</body>
</html>