<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="assets/css/form.css">
<title> Social Vibe </title>
</head>
<body>
<form class="form">

<h1>Volunteer</h1>
<a href="index.html" style="float:right;text-decoration:none">Back to Social Vibe</a>
	<fieldset class="one">
		<legend>Account Details
		</legend>
		<p>
				<label>Email*:</label>
				<input type="email" name="Email" class="email" maxlength="25" required>

				<label>Repeat email*:</label>
				<input type="email" name="Repeat email" maxlength="25" required>
        </p>
		<p>
                <label>Password*:</label>
				<input type="password" name="Password" maxlength="15" required>

				<label>Repeat password*:</label>
				<input type="password" name="repeat password" maxlength="15" required>
				<label class="of">*obligatory fields</label>
		</p>

    </fieldset>
	<fieldset class="two">
			<legend>Personal Details</legend>
			<p>
				<label>Name*:</label>
				<input type="text" name="name" required>
			</p>
			<p>	
				<label>Phone*:</label>
				<input type:number name="phone" required>
			</p>
			<p>			
				<label>Street:</label>
				<input type="text" name="street">
			</p>
			<p>	
				<label>City*:</label>
				<input type="text" name="city" required>
			</p>
			<p>			
		        <label>Country*:</label>
				<select name="country" required>
				<option value="india">India</option>
				<option value="nigeria">Nigeria</option>
				<option value="usa">USA</option>
				</select>
			</p>
			<p>
				<label>Website:</label>
				<input type="url" name="website">
			</p>
	</fieldset>
	<fieldset class="three">
				<legend>Futher Information</legend>
			<p>		
				<label>Gender*:</label>
				<input type="radio" name="gender" value="male"> <label class="gender">Male</label>
				<input type="radio" name="gender" value="female"><label class="gender">Female</label>
			</p>
			<p>
				<label>Birthdate*:</label>
				<input type="date" name="birthdate">
			</p>
			<p>					
				<label>	Nationality*:</label>
				<select name="nationality" required>
				<option value="indian">Indian</option>
				<option value="nigerian">Nigeraian</option>
				<option value="ameriacan">American</option>
			</p>
			<p>
				<input type="checkbox" name="children">
				Children*
            </p><br>
			<div class="info"><h3>Helpful Information</h3>
				<p>Here comes some explaining text, sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
				</p>
			</div>
	</fieldset>
	<fieldset class="four">
				<legend>Terms And Mailing</legend>
			<p>
				<input type="checkbox" name="info">* I Accept The Termas And Conditions
			</p>
			<p>
				<input type="checkbox" name="info">I want to recieve personal offers from your site
			</p>
			<p>
				<input type="checkbox" name="info">Allow parterns to send me personalized offers and related services
			</p>
	</fieldset>
			<input type="button" name"register" value="register">




</form>
</body></html>
